.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.head {
    height: 100%;
    width: 100%;
    padding-top: 200px;
    text-align: center;
    margin-bottom: -54px;
}

.headerAnim {
    position: absolute;
    top: 0;
    height: 100%;
}

.headerOverlay {
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    padding-top: 30px;
}

.greeting {
	font-size: 1em;
	color: white;
    text-align: center;
    text-transform: uppercase;
}

.register-button {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 48px;
    cursor: pointer;
    background-color: black;
    border: solid 2px #aaaaaa;
    border-radius: 2px;
    font-size: 0.9em !important;
    text-transform: uppercase;
    padding-top: 10px;
    color: #ffffff;
    font-weight: 400;
}

.register-button:hover {
    border-color: #b5271e;
}

.nav {
    background-color: #b5271e;
    width: 100%;
    margin-bottom: 0 !important;
    margin-top: -54px;
}

.nav-link a {
    color: white;
    display: block;
    height: 54px;
    padding-top: 14px;
}

.nav-link:hover {
    background-color: #962018;
}

.about {
    margin-top: 0;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #262626;
    color: #cccccc;
}

.about h4 {
    font-size: 1.5rem;
}

.about h4 strong {
    color: white;
}

.faq {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.faq h4 {
    font-weight: 900;
    display: block;
}

.sponsors {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #262626;
    text-align: center;
}

.sponsors img {
    max-height: 50px;
}

.small {
    max-height: 50px;
}

#map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
  background-image: url('images/buckyMarker.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 0;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.border {
    border-bottom: 1px solid white;
}

.mlh {
    background-color: #262626;
    text-align: center;
   
}

.mlh img {
    max-height: 100px;
}
