.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.head {
    height: 480px;
    width: 100%;
    padding-top: 200px;
    text-align: center;
    background-image: url("images/headerBackground.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: fixed;
  	background-position: center;
}

.greeting {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 2.5em;
	color: white;
}

.register-button {
    margin-top: 18px; 
}

.nav {
    background-color: #dc1c3c;
    width: 100%;
    margin-bottom: 0 !important;
}

.nav-link a {
    color: white;
    display: block;
    height: 54px;
    padding-top: 14px;
}

.nav-link:hover {
    background-color: #E23551;
}

.about {
    margin-top: 0;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #393838;
    color: #cccccc;
}

.about h4 {
    font-size: 1.5rem;
}

.about h4 strong {
    color: white;
}

.faq {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.faq h4 {
    font-weight: 900;
    display: block;
}

.sponsors {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #393838;
    text-align: center;
}

.sponsors img {
    max-height: 50px;
}

.small {
    max-height: 50px;
}

#map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
  background-image: url('images/buckyMarker.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 0;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.border {
    border-bottom: 1px solid white;
}

.mlh {
    background-color: #393838;
    text-align: center;
   
}

.mlh img {
    max-height: 100px;
}
